.stage-block {
    background-color: #343434;
    padding: 0.5rem;
    border-radius: 16px;
    margin-bottom: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    /* 💡 Add glowing border effect */
    box-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 15px #ff00ff;
    transition: transform 0.2s, box-shadow 0.2s;
}

.stage-block:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px #ff00ff, 0 0 30px #ff00ff, 0 0 45px #ff00ff;
}



.stage-title:hover {
    color: #1db954;
}

.artist-list {
    margin-top: 0.5rem;
}

.stage-title {
    font-family: 'Ethnocentric', sans-serif;
    font-size: 1.0rem;
    color: #ff66cc;
    /* or your rave pink */
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 8px #ff00ff;

}

.stage-image-container {
    position: relative;
    text-align: center;
    margin-bottom: 1rem;
}

.stage-header-img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    transition: opacity 0.3s ease-in-out;
}

.search-bar {
    width: 90%;
    max-width: 400px;
    padding: 10px 15px;
    margin: 10px auto 20px;
    display: block;
    border-radius: 8px;
    border: none;
    background: #1e1e1e;
    color: #fff;
    font-size: 16px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
    outline: none;
}

.search-bar::placeholder {
    color: #aaa;
}